*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: rgb(171, 98, 240);
    text-align: center;
}
/* .col {
    border: 2px solid black;
} */
.box {
    min-height: 100%;
    background-color: rgb(248, 222, 74);
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.content {
    margin-top: 20px;
    min-height: 200px;
}
.text_1 {
    min-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text_2 {
    min-height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.slauder {
    min-height: 200px;
}
